.scrollTop {
    position: fixed;
    top: 612px;
    right: 19px;
    z-index: 999;
    display: flex;
    flex-direction: column;
    animation: fadeIn 0.3s;
    transition: opacity 0.4s;
}

.scrollTop:hover {
    filter: invert(63%) sepia(92%) saturate(19%) hue-rotate(63deg)
        brightness(91%) contrast(94%);
}

.scrollTophidden {
    visibility: hidden;
}
