.scrollTop {
    position: fixed;
    top: 614px;
    right: 18px;
    z-index: 9;
    transition: 0.05s;
}

.scrollTop:hover {
    filter: invert(63%) sepia(92%) saturate(19%) hue-rotate(63deg)
        brightness(91%) contrast(94%);
}

.scrollTophidden {
    position: fixed;
    top: 614px;
    right: -35px;
    transition: 0.05s;
    /* display: none; */
    /* visibility: hidden; */
}

/* @media screen and (max-width: 470px) {
    .scrollTop {
        transform: 5s;
        top: 93%;
    }
    .scrollTophidden {
        position: fixed;
        top: 93%;
    }
} */
