.wrapper {
    max-width: 960px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    background: #e4cdbb;
}

.flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex p {
    margin-bottom: 2px;
}

.resevertitle {
    margin: 1rem;
    padding: 1rem;
}

.reseverbox li {
    list-style: inside;
    max-width: 840px;
    width: 100%;
    margin: 1rem 0 0 0;
    padding: 10px;
}
@media screen and (max-width: 820px) {
    .reseverbox li {
        width: 730px;
    }
}
@media screen and (max-width: 768px) {
    .reseverbox li {
        width: 680px;
    }
}
@media screen and (max-width: 520px) {
    .reseverbox li {
        width: 420px;
    }
}
@media screen and (max-width: 420px) {
    .reseverbox li {
        width: auto;
    }
}
