.container {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 960px;
    max-height: auto;
    margin: 0 auto;
}

.flex {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
}

.globalnavitemsns {
    position: fixed;
    top: 450px;
    right: 0;
    z-index: 999;
    display: flex;
    flex-direction: column;
}
.globalnavitemsns a {
    align-content: center;
    justify-content: center;
    margin: 0.5rem auto;
    padding-right: 1rem;
}
.globalnavitemsns a:hover {
    /* filter: invert(83%) sepia(13%) saturate(406%) hue-rotate(344deg)
        brightness(103%) contrast(84%); */
    /*RGB #e4cdbb */
    filter: invert(86%) sepia(50%) saturate(2787%) hue-rotate(177deg)
        brightness(102%) contrast(101%);
    /* RGB #ACD6FF */
}

.nav {
    display: flex;
    padding: 1rem 0.5rem;
    margin: 0 auto;
    max-width: 100%;
    width: 1920px;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 999;
    background-color: #fafafa;
    align-content: center;
    justify-content: center;
}

.navbox {
    margin: 0 1rem;
    padding: 1rem 1rem;
    max-width: 100%;
    max-height: auto;
    width: 550px;
}

.navp {
    display: flex;
    margin: 0 0.5rem;
    justify-content: center;
    align-items: center;
}
.navp a {
    /* flex-direction: row-reverse; */
    font-size: 18px;
    margin: 0 2rem;
}
.navp a:hover {
    border-bottom: 1px solid black;
    /* text-decoration: underline; */
}
.main {
    min-height: 100vh;
    padding: 1rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainbox {
    max-width: 100%;
    width: 400px;
    height: auto;
}
.maintitle {
    /* top: 250px; */
    font-size: 58px;
    padding-top: 11rem;
}

.mainimage {
    max-width: 100%;
    margin: 1rem;
    padding: 1rem;
}

/*Card*/
.Home_card___LpL1 {
    /* 設定父親定位點 */
    position: relative;
    width: 300px;
    height: 203px;
    object-fit: fill;
    float: left;
    max-width: 100%;
    max-height: 100%;
    margin: 0.5rem;
    padding: 0.5rem;
}
.Home_card___LpL1 Image {
    /* display: block; */
    width: 100%;
    height: auto;
}
.info {
    /* display: none; */
    opacity: 0;
    position: absolute;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.7);
    top: 2px;
    left: 7px;
    width: 85%;
    height: 78%;
    text-align: center;
    padding-top: 0px;
    /* padding-left: -10px; */
    /* margin-top: 13.5px; */
    margin: 15px;
}
.info p {
    padding-top: 15px;
    color: black;
    /* color: #fff; */
}
.info:hover {
    -webkit-transition: 500ms;
    opacity: 1;
}

.back {
    background-color: #e4cdbb;
}

.footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    /* border-top: 1px solid #eaeaea; */
    justify-content: center;
    align-items: center;
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.title a {
    color: #0070f3;
    text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
    text-decoration: underline;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
}

.title,
.description {
    text-align: center;
}

.description {
    margin: 4rem 0;
    line-height: 1.5;
    font-size: 1.5rem;
}

.code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
        DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
}

/* about */
.aboutmain {
    max-width: 100%;
    height: auto;
    width: 500px;
    height: 500px;
    /* background-color: #e8e8d0; */
    background-color: #e4cdbb;
    margin: 1rem;
    padding: 1rem;
}

.aboutmaintitle {
    max-width: 100%;
    height: auto;
    width: 500px;
    height: 500px;
    margin: 1rem;
    padding: 1rem;
}

.boxbackground {
    width: 20px;
    height: 30px;
    background-color: #e4cdbb;
    margin: 20px 0 0 0;
    margin-left: 17px;
}

.careerborder {
    font-size: 70px;
    width: 10px;
    height: 60px;
    /* position: relative; */
    border-left: 2px solid #ddd;
    margin-top: -15px;
    margin-left: -9px;
    z-index: -1;
}

/* work */

.workmeun {
    position: fixed;
    top: 38%;
    left: 21%;
    z-index: 999;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
    font-size: 18px;
    font-family: "Unna", serif;
}

.workmeun ul:hover {
    color: #aaa;
}

.Skillsbox {
    max-width: 100%;
    width: 960px;
    height: auto;
    margin-left: 5rem;
    padding-left: 5rem;
}

.worktitlecenter {
    display: flex;
    flex-direction: row;
}

.maintainance {
    max-width: 100%;
    width: 760px;
    height: 450px;
}

/* workinfo */
.Work_card___LpL1 {
    /* 設定父親定位點 */
    position: relative;
    width: 600px;
    height: auto;
    object-fit: fill;
    float: left;
    max-width: 100%;
    max-height: 100%;
    margin: 0.5rem;
    padding: 0.5rem;
}

.Work_card___LpL1 Image {
    width: 100%;
    height: auto;
}
.workinfo {
    opacity: 0;
    position: absolute;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.7);
    top: 3px;
    left: 9px;
    width: 91%;
    height: 88%;
    text-align: center;
    margin: 18px;
}
.workinfo p {
    padding-top: 120px;
    color: black;
}
.workinfo:hover {
    -webkit-transition: 500ms;
    opacity: 1;
}

/* contact */
.contacttable {
    width: 300px;
    height: 450px;
    margin: 0 2rem;
    font-size: 18px;
}

.contacttable li {
    list-style-type: disc;
}
/* RWD */
@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}
