.container {
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 960px;
    max-height: auto;
    margin: 0 auto;
}

.flex {
    display: flex;
    align-content: center;
    justify-content: center;
}

.footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    /* border-top: 1px solid #eaeaea; */
    justify-content: center;
    align-items: center;
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.title a {
    color: #0070f3;
    text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
    text-decoration: underline;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
}

.title,
.description {
    text-align: center;
}

.description {
    margin: 4rem 0;
    line-height: 1.5;
    font-size: 1.5rem;
}

.code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
        DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
}

/* RWD */
@media screen and (max-width: 960px) {
}
@media screen and (max-width: 768px) {
}

@media (max-width: 520px) {
    .container {
        margin: 0;
        padding: 0;
    }
    .grid {
        width: 100%;
        flex-direction: column;
    }
}
