.wrapper {
    max-width: 960px;
    max-height: auto;
    margin: 0 auto;
}

.flex {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
}

.nav {
    display: flex;
    padding: 1rem 0.5rem;
    margin: 0 auto;
    max-width: 100%;
    width: 1920px;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 999;
    background-color: #fafafa;
    align-content: center;
    justify-content: center;
}

.navbox {
    margin: 0 1rem;
    padding: 1rem 1rem;
    max-width: 550px;
    width: 100%;
}

.navp {
    display: flex;
    margin: 0 0.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.navp a {
    /* flex-direction: row-reverse; */
    font-size: 18px;
    margin: 0 2rem;
}
/* .navrwd {
    display: block;
} */
.navp a:hover {
    border-bottom: 1px solid black;
    /* text-decoration: underline; */
}

.globalnavitemsns {
    position: fixed;
    top: 450px;
    right: 0;
    z-index: 999;
    display: flex;
    flex-direction: column;
}
.globalnavitemsns a {
    align-content: center;
    justify-content: center;
    margin: 0.5rem auto;
    padding-right: 1rem;
}
.globalnavitemsns a:hover {
    /* filter: invert(83%) sepia(13%) saturate(406%) hue-rotate(344deg)
        brightness(103%) contrast(84%); */
    /*RGB #e4cdbb */
    /* filter: invert(86%) sepia(50%) saturate(2787%) hue-rotate(177deg)
        brightness(102%) contrast(101%); */
    /* RGB #ACD6FF */
    filter: invert(63%) sepia(92%) saturate(19%) hue-rotate(63deg)
        brightness(91%) contrast(94%);
}

@media screen and (max-width: 760px) {
    .navrwd {
        display: none;
    }
    .navp a:hover {
        border-bottom: none;
    }
    .globalnavitemsns {
        display: flex;
        flex-direction: row;
    }
    .globalnavitemsns a {
        display: none;
    }
}
